*{
	margin: 0;
	padding: 0;
	font-family: 'Ubuntu', sans-serif;
	
	
}

/*nav bar*/
nav	{
	height: 40px;
	padding: 1px;
	opacity: .5;
	display: flex;
	justify-content: center;
	align-items: center;
	position: sticky;
	top: 0;
	
}

nav > ul {
	display: flex;
	list-style-type: none;
}

nav	> ul >li {
	margin: 0 20px;
	font-size: 30px;
	background-color: transparent;
}

.Home, .Product, .Site, .Contact {
	font-size: 30px;
}

header	{
	background:
		linear-gradient(225deg, rgba(110,52,149,0.7287289915966386) 15%, rgba(91,191,101,0.49343487394957986) 73%),
	url(../images/grass.jpg);
	background-repeat: none; 
	background-size: cover;
	background-position: center;
	height: 100vh;
}

nav > ul > li > a {
	text-decoration: none;
	color: black;
}
/*first section*/
.first-sec > p {
	text-align: center;
	justify-content: center;
	
}

.product-image {
	display: flex;
	align-items: center;
	justify-content: space-around;

}

#zinc1, #zinc2 {
	
	/*width: 200px;*/
	height: 150px;
	border-radius: 30%;
	padding-right: 20px;
}

p {
	font-size: 15px;
	margin: 80px;
}

.product-image > img {
	width: 50%;
	height: 20px;

}

/*.first-sec > div{
	/*height: 100vh;*/
	/*padding: 30px;*/
	margin:	100px;
	
}*/

div > img {
	border-radius: 20%;
	width: 50px;
	height: 50px;

}

span {
	font-size: 30px;
	color: blue;
	position: relative;
	animation-name: colorChange;
	animation-duration: 2s;
	animation-iteration-count: infinite;
}

@keyframes colorChange {
	0% {
		color: red;
	}
	20% {
		color: green;
	}
	40% {
		color: yellow;
	}
	60% {
		color: blue;
	}
	}
}
}	

div	> p {
	font-size: 20px;
	text-shadow: 1px 1px 10px #89BF71;
	color: black;
	font-family: 'PT Sans Narrow', sans-serif;

}


/*second section*/

section {
	background:
		linear-gradient(225deg, rgba(110,52,149,0.7287289915966386) 15%, rgba(91,191,101,0.49343487394957986) 73%),
	url(../images/grass.jpg);
	background-repeat: none; 
	background-size: cover;
	background-position: center;
}

#shops > h1 {
	display: flex;
	/*justify-content: center;
	text-align: center;*/
}

.second-sec {
	margin: auto;
	height: 100vh;
	text-align: center;
	
}

.second-sec > .shops {
	padding-top: 100px;
}
h1 {
	font-family: 'PT Sans Narrow', sans-serif;
	font-size: 40px;
}


.shops > .shop-images {
	margin: 20px;
}
.shop-images > div > img {
	height: 150px;
	width: 150px;
	border-radius: 5%;
	
}

.shop-images {
	display: flex;
	justify-content: center;
	align-items: center;

}

.shop-images > div > img:hover {
	transition: 2s;
	transform: scale(1.3);

}

/*third section*/

.third-sec {
	height: 100vh;
	padding: 50px;
	text-align: center;	
}
.area {
	display: flex;
	text-align: justify;
}

#pampanga > ul {
	padding-top: 20px;
}

#tarlac > ul {
	padding-top: 20px;
}

#nueva > ul {
	padding-top: 20px;
}

div > img {
	height: 130px;
	border-radius: 10%;
	margin: 20px;

}

ul {
	list-style-type: none;
	text-align: center;
}



/*Last Section*/

.last-sec {
	padding: 200px;
	text-align: center;
	justify-content: center;
	
}

input, textarea, button {
	margin-bottom: 10px;
	padding-bottom: 10px;
	display: block;
	justify-content: flex-end;
	border-radius: 20%;
}

/*input {

	width: 200px;
}*/

.btn {
	background-color: white;
	color: red;
	font-size: 20px;
	width: 20vh;
	border-bottom: 1px 1px whitesmoke;
}

.btn:hover {
	background-color: black;
	color: white;
	transition: .5s;
}

/*google map*/
#map {
	width: 300px;
	height: 200px;
	/*position: relative;*/
	padding-left: 20px;
	left: 50vh;

}

/*social media*/
#social-media {
	font-size: 30px;
}

	
@media only screen and (max-width: 375px) {
  .product-image1, .product-image2 {
  	height: 5px;
  	width: 5px;
  	border-radius: 50%;
  }
    
  }

