*{
	margin: 0;
	padding: 0;
	/*background-color: #89BF71;*/
	font-family: 'Ubuntu', sans-serif;
	text-shadow: 2px 2px 30px #89BF71;
	
}

header {
	background: 
	linear-gradient(0deg, rgba(52,149,142,0.6446953781512605) 10%, rgba(182,153,90,1) 76%),
	url(../images/grass.jpg);
	background-size: cover;
	background-position: center;

}



.divider {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	text-align: center;

}

.left {
	width: 70%;
	text-align: center;
	font-size: 50px;
		
}

.btn {
	
	background-color: #89BF71;
	height: 50px;
	width: 200px;
	border-radius: 50%;
}

.btn:hover {
	background-color: black;
	transition: .5s;
	color: white;

}


/*animation*/

h1 {
	font-size: 60px;
	animation-name: colorChange;
	animation-duration: 5s;
	animation-iteration-count: infinite;
	color: black;
}

@keyframes colorChange {
	0% {
		color: red;
	}
	20% {
		color: green;
	}
	40% {
		color: black;
	}
	60% {
		color: yellow;
	}
	}
}